$delay-name: 0.8s;
$delay-title: 2.5s;
$delay-caption: 4.2s;
$delay-avatar: 5.8s;

.animation-type {
    overflow: hidden;
    border-right: 3px solid #000;
    white-space: nowrap;
    font-family: "Raleway", monospace;
    opacity: 0;

    &.a1 {
        animation: type 0.3s steps(40, end), blink 0.75s step-end infinite;
        animation-fill-mode: forwards;
    }

    &.a2 {
        animation: type2 1s steps(40, end), blink 0.75s step-end infinite;
        animation-delay: $delay-name;
        animation-fill-mode: forwards;
    }

    &.a3 {
        animation: type3 1.5s steps(40, end), blink 0.75s step-end infinite;
        animation-delay: $delay-title;
        animation-fill-mode: forwards;
    }

    &.a4 {
        animation: type3 1.5s steps(40, end), blink 0.75s step-end infinite;
        animation-delay: $delay-caption;
        animation-fill-mode: forwards;
    }
}

.slide-from-right {
    animation: bounceInRight 1s ease-in;
    animation-delay: $delay-avatar;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
        opacity: 1;
    }
    99.9% {
        border-right: 3px solid #000;
    }
    100% {
        width: 2ch;
        opacity: 1;
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
        opacity: 1;
    }
    99.9% {
        border-right: 3px solid #000;
    }
    100% {
        width: 8ch;
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
        opacity: 1;
    }
    99.9% {
        border-right: 3px solid #000;
    }
    100% {
        width: 25ch;
        opacity: 1;
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    70% {
        transform: translateX(-20%);
        opacity: 1;
    }

    80% {
        transform: translateX(10%);
        opacity: 1;
    }

    90% {
        transform: translateX(-5%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        opacity: 1;
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
