.race8 {
    animation: race8 1.5s ease-in forwards;
}

.race7 {
    animation: race7 1.5s ease-in forwards;
}

.race6 {
    animation: race6 1.5s ease-in forwards;
}

.race5-5 {
    animation: race5-5 1.5s ease-in forwards;
}

@keyframes race8 {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes race7 {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

@keyframes race6 {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

@keyframes race5-5 {
    from {
        width: 0%;
    }

    to {
        width: 55%;
    }
}
